@model List<Group2_iCLOTHINGApp.Models.Product>
@{
    ViewBag.Title = "Product List Window View";
}

<h2>Product List</h2>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>Product list</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            border: 2px solid #808080
            text-align: left;
        }
        th {
            background-color: #b200ff
        }
        .button {
            display: inline-block;
            padding: 10px 30px;
            margin: 10px;
            text-align: center;
            border: 2px solid #007a33;
            color: #007a33;
            border-radius: 4px;
            transition: background-color 0.3s, color 0.3s;
        }
        .button-hover {
            background-color: #007a33;
            color: #fff;
        }
    </style>
</head>
<body>
    <h1>Product List</h1>
    <table>
        <tr>
            <th>Product</th>
            <th>Brand</th>
            <th>Department</th>
            <th></th>
        </tr>
        @foreach (var product in ViewBag.productList)
            {
                <tr>
                    <td>@product.productName</td>
                    <td>@product.Brand.brandName</td>
                    <td>@Util.CombineDepartments(product.Department)</td>
                    <td>
                        <form method="post" action="@Url.Action("AddToCart", "ProductListWindow")">
                            <input type="hidden" name="productId" value="@product.productID"/>
                            <input type="submit" value="Add to cart" />
                        </form>
                    </td>
                </tr>
            }
    </table>



     







    <h1>Departments</h1>
    <ul>
        @foreach (var department in ViewBag.departmentList)
        {
            <li><a href="@Url.Action("DepartmentDetails", "ProductListWindow", new {id = department.departmentID})">@department.departmentName || @department.departmentDescription</a></li>
        }
    </ul>
    <ul>
        @foreach (var category in ViewBag.categoryList)
        {
            <li><a href="@Url.Action("CategoryDetails", "ProductListWindow", new {id = category.categoryID})">@category.categoryName || @category.categoryDescription</a></li>
        }
    </ul>
    <ul>
        @foreach (var brand in ViewBag.brandList)
        {
            <li>
                <a href="@Url.Action("BrandDetails", "ProductListWindow", new {id = brand.brandId})">@brand.brandName || @brand.drandDescription</a>
            </li>
        }
    </ul>
</body>
</html>