
@{
    ViewBag.Title = "Product List Window View";
}

<h2>Product List</h2>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" , initial-scale="1.0" />
    <title>Product list</title>
</head>
<body>
    <h1>Departments</h1>
    <ul>
        @foreach (var department in ViewBag.departmentList)
        {
            <li><a href="@Url.Action("DepartmentDetails", "ProductListWindow", new {id = department.departmentID})">@department.departmentName || @department.departmentDescription</a></li>
        }
    </ul>
    <ul>
        @foreach (var category in ViewBag.categoryList)
        {
            <li><a href="@Url.Action("CategoryDetails", "ProductListWindow", new {id = category.categoryID})">@category.categoryName || @category.categoryDescription</a></li>
        }
    </ul>
    <ul>
        @foreach (var brand in ViewBag.brandList)
        {
            <li>
                <a href="@Url.Action("BrandDetails", "ProductListWindow", new {id = brand.brandId})">@brand.brandName || @brand.drandDescription</a>
            </li>
        }
    </ul>
</body>
</html>